<div class="secondary-filter-bar">
  <div class="dropdown-container">
    <button class="dropdown-toggle" type="button" onclick="toggleDropdown()">
      <span id="tipologia-button-text">
        {% if tipologia_filtro %} {% if tipologia_filtro|length == 1 %} {{
        tipologia_filtro[0] }} {% else %} {{ tipologia_filtro|length }}
        tipologías seleccionadas {% endif %} {% else %} Todas las Tipologías {%
        endif %}
      </span>
      <span class="dropdown-arrow">▼</span>
    </button>
    <div class="dropdown-content" id="tipologia-dropdown">
      <div id="tipologia-dropdown-content">
        {% include '_tipologia_dropdown_content.html' %}
      </div>
    </div>
  </div>

  <button
    class="contrast {% if vista_actual == 'codigo' %}active-view{% endif %}"
    hx-get="{{ url_for('pricing', project_name=current_project, vista='codigo') }}&max_columns={{ max_columns }}"
    hx-target="#grid-container"
    hx-swap="innerHTML"
    hx-include="[name='tipologia']"
  >
    Código
  </button>
  <button
    class="contrast {% if vista_actual == 'precio' %}active-view{% endif %}"
    hx-get="{{ url_for('pricing', project_name=current_project, vista='precio') }}&max_columns={{ max_columns }}"
    hx-target="#grid-container"
    hx-swap="innerHTML"
    hx-include="[name='tipologia']"
  >
    Precio
  </button>
  <button
    class="contrast {% if vista_actual == 'precio_m2' %}active-view{% endif %}"
    hx-get="{{ url_for('pricing', project_name=current_project, vista='precio_m2') }}&max_columns={{ max_columns }}"
    hx-target="#grid-container"
    hx-swap="innerHTML"
    hx-include="[name='tipologia']"
  >
    Precio m2
  </button>
  <button
    class="contrast {% if vista_actual == 'proformas' %}active-view{% endif %}"
    hx-get="{{ url_for('pricing', project_name=current_project, vista='proformas') }}&max_columns={{ max_columns }}"
    hx-target="#grid-container"
    hx-swap="innerHTML"
    hx-include="[name='tipologia']"
  >
    Proformas
  </button>
  <button
    class="contrast {% if vista_actual == 'area_total' %}active-view{% endif %}"
    hx-get="{{ url_for('pricing', project_name=current_project, vista='area_total') }}&max_columns={{ max_columns }}"
    hx-target="#grid-container"
    hx-swap="innerHTML"
    hx-include="[name='tipologia']"
  >
    Área Total
  </button>
</div>

{% include '_grid_container.html' %}
